#loading-bar .bar {
  height: 3px;
}

#loading-bar .peg {
  height: 3px;
}

#loading-bar-spinner {
  top: 37%;
  left: 40%;

  padding: 10px;
  border-radius: 7px;

  background: #f3f3f3;
  opacity: .7;
}

#loading-bar-spinner .spinner-icon {
  width: 50px;
  height: 50px;

  border: solid 10px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 600ms linear infinite;
  -moz-animation:    loading-bar-spinner 600ms linear infinite;
  -ms-animation:     loading-bar-spinner 600ms linear infinite;
  -o-animation:      loading-bar-spinner 600ms linear infinite;
  animation:         loading-bar-spinner 600ms linear infinite;
}

@media (min-width: 480px) {
  #loading-bar-spinner {
    left: 43%;
  }
}

@media (min-width: 768px) {
  #loading-bar-spinner {
    left: 47%;
  }
}

@media (min-width: 1200px) {
  #loading-bar-spinner {
    left: 47.5%;
  }
}